body
    margin: 0
    padding: 0
    background-color: #fcfcfc
    font-size: 16px

.header
    background-color: #fff
    margin-bottom: 40px

.auth, .register
    width: 100%
    max-width: 500px
    margin: 0 auto

.block
    padding: 20px
    background-color: #fff
    border-radius: 5px
    border: 1px solid #dee2e6

.questionnaires
    margin-top: 30px

    &__item
        padding: 8px

        img
            height: 70px
            margin-bottom: 20px

        h5
            margin-bottom: 20px
            font-size: 18px
