{% extends 'main/base.html' %}

{% load static %}

{% block title %}{{ questionnaire_type }}{% endblock %}

{% block content %}

<h3>{{ questionnaire_type }}</h3>

<div class="do-questionnaire">
    <form action="">
        {% for field in questionnaire_fields %}
            <div class="do-questionnaire__item block">
                <h5>{{ field.title }} ({{ field.designation }})</h5>
                <hr>
                {% for question in field.questions %}
                    <div class="do-questionnaire__item-field">
                        <div class="do-questionnaire__item-field__number">{{field.designation}}. {{ forloop.counter|add:"-1" }}</div>
                        <div class="do-questionnaire__item-field__question">{{ question }}</div>
                        <div class="do-questionnaire__item-field__input">
                            <select class="form-select" aria-label="Default select example">
                                <option selected disabled>Выберите вариант ответа</option>
                                <option value="1">+</option>
                                <option value="2">-</option>
                            </select>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
</div>

{% endblock %}