<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        @font-face {
            font-family: "tahoma";
            src: url({{ font_path }}) format("truetype");
        }

        @font-face {
            font-family: "tahoma";
            font-weight: bold;
            src: url({{ font_bold_path }}) format("truetype");
        }

        body {
            font-family: "tahoma";
            font-size: 16px;
        }

        h3 {
            font-size: 20px;
        }

        p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h3>Отчет по прохождению анкеты</h3>
    <p>{{ report.questionnaire_title }}</p>
    <p>Дата прохождения: {{ report.get_done_date }}</p>
    <p>Отрасль предприятия: {{ report.industry }}</p>
    <p>Тип используемых систем: {{ report.type_used_systems }}</p>
    {% for title, questions in report_fields.items %}
        <div>
            <h4>Мера "{{ title }}"</h4>
            {% if questions.not_provided_count == 0 %}
                <p>Мера соблюдена и требования удовлетворены полностью.</p>
            {% else %}
                {% if questions.not_provided_count == questions.fields|length %}
                    <p>Мера не соблюдается, требования мер не удовлетворены:</p>
                {% else %}
                    <p>Мера соблюдена частично. Не удовлетворены следующие требования:</p>
                {% endif %}
                <div>
                    {% for question in questions.fields %}
                        {% if not question.is_provided %}
                            <p style="padding: 10px; border: 1px solid #000;">{{ question.question }}</p>
                            <p><b>Рекомендация:</b> {{ question.recommendation }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>
